In [2]:
# In Python, all lists are represented by a list of values separated by commas within square brackets.

l = [1, 2, 3, 4, 1]
print(l)

[1, 2, 3, 4, 1]

In [4]:
# the list [] is the "empty list"

l = []
len(l)

0

In [10]:
# We can access a single item in a list using the bracket notation.

l = [0, 1, 2, 3]
l[1]

1

In [12]:
# Example of list slicing

l = [0, 1, 2, 3]
l[0:-1]

[0, 1, 2]

In [13]:
# We can add lists together...

l = [1, 2, 3]
l + l

[1, 2, 3, 1, 2, 3]

In [14]:
# We can also multiply them!

l = [1, 2, 3]
l * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
l = [1, 2, 3]
l[1] = 7
l

[1, 7, 3]

In [18]:
l = [1, 2, 3]
# l[3] = 4      this doesn't work
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
l.pop()